*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebf2ff;
    font-family: 'Amaranth', sans-serif;
}

.container{
    max-width: 100%;
    padding: 0 10%;
    margin: 0 auto;
}

.navbar{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    box-shadow: 0 25px 50px -8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 3px;
    z-index: 999;
}

.navbar__brand{
    width: 100px;

}

.navbar__logo{
    width: 100%;
}

.navbar__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 70%
    );
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.container__hero{
    margin-top: 20px;
    margin-bottom: 100px;
}

.container__main__img__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container__main__img{
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.main__img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 25px 50px -8px rgba(0, 0, 0, 0.2);
}

.img__bg__shape{
    position: absolute;
    margin-top: -20px;
    z-index: -2;
}

.img__bg__pattern{
    position: absolute;
    margin-top: -20px;
    z-index: -3;
}

.main__description{
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.primary__button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 70%
    );
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container__explore{
    margin: 100px 0;
}

.explore__title{
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
}

.explore__menu__card{
    background-color: white;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.menu__card__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.explore__menu__card__description{
    padding: 10px;
}

.explore__menu__view__button{
    display: flex;
    justify-content: center;
}

.view__more__button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: white;
    border: none;
    padding: 16px 112px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.container__restaurants{
    margin: 100px 0;
}

.restaurant__description{
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.restaurant__images{
    width: 100%;
}

.restaurant__images__row__one, .restaurant__images__row__two{
    display: flex;
    width: 100%;
    gap: 5px;
}

.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom: 5px;
}

.restaurant__images__one, .restaurant__images__four{
    width: 100%;
    height: 100px;
}

.restaurant__images__two, .restaurant__images__three{
    width: 110%;
    height: 120px;
}

.r__img__one, .r__img__two, .r__img__three, .r__img__four{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.container__stay__updated{
    margin: 100px 0; 
}

.stay__updated__title{
    font-size: 27px;
    padding-bottom: 10px;
}

.stay__updated__email{
    background-color: #f1d4cb;
    border-style: solid;
    border-radius: 4px;
    border-color: #ff8d83;
    padding: 5px 0;
}

.stay__updated__button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 70%
    );
    color: white;
    border: none;
    padding: 15px 10px;
    border-radius: 7px;
    margin-left: 10px;
}

.container__quote{
    margin: 200px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote__description{
    position: absolute;
    color: #fff;
    width: 90%;
}

.quote__bg__img{
    position: absolute;
    width: 100%;
    z-index: -3;
}

.quote__image{
    width: 100%;
    opacity: 90%;
    border-radius: 10px;
}

@media (min-width: 768px){
    .navbar{
        height: 70px;
        justify-content: space-between;
        padding: 0 40px;
    }

    .navbar__brand{
        width: 110px;
    }
    
    .primary__button {
        padding: 10px;
        font-size: 15px; 
    }

    .container__hero{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 150px;
    }

    .main__description{
        font-size: 34px;
    }

    .explore__title{
        font-size: 35px;
    }

    .explore__menu__card__list{
        margin-top: 40px;
        padding: 13px;
        display: flex;
        gap: 13px;
    }

    .explore__menu__card{
        border-radius: 8px;
    }   

    #menu__pizza{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .view__more__button{
        font-family: 'Amaranth', sans-serif;
        font-size: 16px;
        background: none;
        padding: 10px 100px;
    }

    .container__explore{
        position: relative;
        margin: 160px 0;
    }

    .container__diagonal__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
        border-radius: 5px;
    }

    .container__restaurants{
        display: flex;
        align-items: center;
    }

    .restaurant__description{
        font-size: 20px;
    }

    .restaurant__images{
        padding-left: 20px;
    }

    .restaurant__images__row__one, .restaurant__images__row__two{
        gap: 7px;
    }

    .restaurant__images__row__one{
        margin-bottom: 7px;
    }

    .restaurant__images__two, .restaurant__images__three{
        height: 135px;
    }

    .restaurant__images__one, .restaurant__images__four{
        height: 120px;
    }    

    .container__stay__updated{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .stay__updated__email{
        width: 280px;
        padding: 7px;
    }

    .stay__updated__button{
        padding: 9px 20px;
        margin-left: 3px;
    }
    
    .container__quote{
        margin: 250px 0;
    }

    .quote__image{
        height: 350px;
    }

    .quote__description{
        font-size: 23px;
        padding: 117px 0;
    }

}

@media (min-width: 1020px){
    
    .navbar__brand{
        width: 115px;
    }

    .container__main__img{
        width: 100%;
    }

    .main__img{
        width: 100%;
    }

    .main__description{
        font-size: 50px;
    }

    .primary__button{
        margin: 0 10px;
        padding: 13px 30px;
        font-size: 18px;
    }

    .container__explore{
        margin: 230px 0;
    }

    .explore__title{
        margin-bottom: 50px;
        font-size: 50px;
    }

    .explore__menu__card__list{
        padding: 0 18px;
        gap: 18px;
    }
    
    .view__more__button{
        font-family: 'Amaranth', sans-serif;
        font-size: 20px;
        margin-top: 30px;
        padding: 10px 160px;
    }

    .restaurant__description{
        font-size: 35px;
    }

    .restaurant__images__row__one, .restaurant__images__row__two{
        gap: 9px;
    }

    .restaurant__images__row__one{
        margin-bottom: 9px;
    }

    .restaurant__images__two, .restaurant__images__three{
        height: 250px;
    }

    .restaurant__images__one, .restaurant__images__four{
        height: 200px;
    }  
    
    .r__img__one, .r__img__two, .r__img__three, .r__img__four{
        border-radius: 8px;
    }

    .stay__updated__title{
        font-size: 60px;
        margin-bottom: 10px;
    }

    .stay__updated__email{
        width: 360px;
    }

    .stay__updated__button{
        padding: 16px 20px;
    }

    .container__quote{
        margin: 400px 0;
    }

    .quote__image{
        height: 600px;
    }

    .quote__description{
        font-size: 27px;
        padding: 140px 0;
    }

}